# Core testing libraries
pytest
pytest-order
pytest-html
pytest-playwright
pytest-xdist
pytest-repeat
pytest-asyncio

# Browser automation
playwright

# Environment variable loader
python-dotenv

# HTTP requests (API testing)
requests

# Logging / reporting
python-json-logger
allure-pytest
